@charset "UTF-8";

html{
	height: 100%;
}

body{
	font-family: 'Nanum Gothic', sans-serif;
	height: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
	background-color: #1f2945;
}

.wrapper td, th{
	border: 0;
	position: relative;
	width: auto;
	height: auto;
	padding: 5rem;
	background-color: #1f2945;
}

.bg-gray{
	background-color: #eeeeee;
}

.bg-darkgray{
	background-color: #989898;
}

.text-white{
	color: #ffffff;
}

.bg-color1{
	background-color: #1f2945;
}

.text-color1{
	color: #1f2945;
}

.bg-color2{
	background-color: #5496b6;
}

.text-color2{
	color: #5496b6;
}

.bg-color3{
	background-color: #f4855d;
}

.text-color3{
	color: #f4855d;
}

.bg-color4{
	background-color: #b5d6c7;
}

.text-color4{
	color: #b5d6c7;
}

.bg-color5{
	background-color: #f6f1d6;
}

.text-color5{
	color: #f6f1d6;
}

p a:link, a:visited, a:hover{
  background-color: transparent;
  text-decoration: none;
}

.row.content {
	margin-top: 0;
	min-height: 450px;
	height: auto;
}

.sidenav {
	text-align: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    overflow: visible;
}

.sidenav .nav-item {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    line-height: 3rem;
}
    
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

#navbar-custom{
	margin-bottom:0; 
	border-radius: 0;
	border: 1px solid rgb(83, 96, 122);
}

.timetable{
	text-align: center;
	height:auto;
}

.timetable .time{
	width: 8%;
}

.timetable th{
	color: #ffffff;
	font-size: 1.7rem;
	width: 11.5%;
	height: 3rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #5496b6;
	background-color: #5496b6;
}

.timetable td{
	width: 11.5%;
	height: 3rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #5496b6;
}

.timetable{
	text-align: center;
	height:auto;
}

.applytable .time{
	width: 8%;
}

.applytable th{
	color: #ffffff;
	font-size: 1.7rem;
	width: 11.5%;
	height: 3rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #4c8d6b;
	background-color: #4c8d6b;
}

.applytable td{
	width: 11.5%;
	height: 3rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #4c8d6b;
}

.footer{
	width: 100%;
	height: 100px;
	border-top: 1px dotted gray;
	padding-top: 10px;
	box-sizing: border-box; 
}

.userbtn{
	width: 80px;
	padding: 2px;
	background-color: #FFFFFF;
	border: 0;
}

.userbtn2{
	width: 80px;
	padding: 2px;
	background-color: #FFFFFF;
	border: 0;
}

.userbtn:hover{
	width: 80px;
	padding: 2px;
	background-color: #6DBCDB;
	color: #FFFFFF;
	border: 0;
	font-style: bold;
}

.userbtn2:hover{
	width: 80px;
	padding: 2px;
	background-color: #fd7578;
	color: #FFFFFF;
	border: 0;
	font-style: bold;
}

#boardList{
	border: 1px solid #D7DADB;
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#boardList .blist:hover{
	background-color: #eeeeee;
}

#boardList th{
	border-top: 2px solid #55b1d5;
	border-bottom: 2px solid #55b1d5;
	color: #2C3250;
	padding: 5px;
}

#boardList td{
	padding: 8px;
}

#tbButton{
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	border: 0px solid #dddddd;
}

#tbButton td,tr{
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #dddddd;
}

#tbNotice{
	
}

#tbNotice th, td{
	text-align: center;
	border: 1px solid #dddddd;
}

#tbNotice th{
	text-align: center;
	font-style: bold;
}

#tbWrite textarea{
	box-sizing: border-box;
	padding: 20px;
	font-style: bold;
	border: 1px solid #dddddd;
}

#tbWrite tbody{
	box-sizing: border-box;
	padding: 20px;
	font-style: bold;
	border-bottom: 1px solid #dddddd;
}


#txtTitle{
	width: 90%;
}

#tacont{
	min-height: 300px;
}

#writeTitle{
	background-color: #D7DADB;
	color: #777777;
	font-size: 15px;
	font-style: bold;
}

#tbJoin{
	width : 50%;
	margin-left: 25%;
	box-sizing: border-box;
}

#tbJoin td{
	border: 1px solid #ebf5fa;
	padding: 20px;
	text-align: left;
}

#tbJoin th{
	border: 1px solid #ebf5fa;
	font-style: bold;
	padding: 15px;
	background-color: #ebf5fa;
}

#btnJoin{
	width: 50%;
	height: 50px;
	background-color: #2C3250;
	color: white;
	border:0;
	font-size: 15px;
	font-style: bold;
}

#tbView td, th{
	border: 1px solid #D7DADB;
	padding: 5px 15px;
}

#btnMyItem{
	width: 70%;
	height: 40px;
	margin: 20px;
	box-sizing: border-box;
	background-color: #2C3250;
	color: white;
	font-size: 20px;
	font-weight: 8;
	border: 0;
}

#btnMyItem:hover{
	width: 70%;
	height: 40px;
	margin: 20px;
	box-sizing: border-box;
	background-color: #6DBCDB;
	color: white;
	font-size: 20px;
	font-weight: 8;
	border: 0;
}

#tbLogin{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	font-style: bold;
	border-top: 3px solid #6DBCDB;
	border-bottom: 3px solid #6DBCDB;
}

#tbLogin td{
	padding: 10px;
}

#btnLogin{
	width: 200px;
	height: 50px;
	background-color: #2C3250;
	color: #FFFFFF;
	border: 0;
}

h1 a:link,h1 a:visited, h1 a:hover{
  background-color: transparent;
  text-decoration: none;
  font-weight: border;
}