<<<<<<< HEAD
@charset "UTF-8";

body{
	font-family: 'Nanum Gothic', sans-serif;
}

.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
}

.wrapper td, th{
	border: 0px solid black;
	position: relative;
	width: auto;
	height: auto;
	padding: 5rem;
}

.text-ombra{
	color: rgb(83, 96, 122) !important;
}

.bg-gold{
	background-color: rgb(232, 213, 41) !important;
}

.bg-slagheap{
	background-color: rgb(169, 169, 162) !important;
}

.bg-ombra{
	background-color: rgb(83, 96, 122) !important;
}

.bg-coldbreeze{
	background-color: rgb(229, 230, 213) !important;
}

.bg-snow{
	background-color: rgb(244, 245, 233) !important;
}

p a:link, a:visited, a:hover{
  background-color: transparent;
  text-decoration: none;
}

.row.content {
	margin-top: 0;
	min-height: 450px;
	height: auto;
}

.sidenav {
	text-align: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    overflow: visible;
}

.sidenav .nav-item {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    line-height: 3rem;
}
    
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

#navbar-custom{
	margin-bottom:0; 
	border-radius: 0;
	border: 1px solid rgb(83, 96, 122);
}

.timetable{
	border-collapse : collapse;
	text-align: center;
	height:auto;
	margin: 2rem;
}

.timetable th, td{
	border: 1px solid gray;
	width: 10rem;
	height: 3rem;
	text-align: center;
}

.timetable .time{
	width: 10rem;
}

.cont{
	width: 100%;
	min-height: 500px;
	box-sizing: border-box; 
	text-align: center;
	padding: 20px;
}	
.userbtn{
	width: 80px;
	padding: 2px;
	background-color: #FFFFFF;
	border: 0;
}

.userbtn2{
	width: 80px;
	padding: 2px;
	background-color: #FFFFFF;
	border: 0;
}

.userbtn:hover{
	width: 80px;
	padding: 2px;
	background-color: #6DBCDB;
	color: #FFFFFF;
	border: 0;
	font-style: bold;
}

.userbtn2:hover{
	width: 80px;
	padding: 2px;
	background-color: #fd7578;
	color: #FFFFFF;
	border: 0;
	font-style: bold;
}

#boardList{
	border: 1px solid #D7DADB;
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#boardList .blist:hover{
	background-color: #eeeeee;
}

#boardList th{
	border-top: 2px solid #e8d529;
	border-bottom: 2px solid #e8d529;
	color: #000000;
	padding: 5px;
}

#boardList td{
	padding: 8px;
}

#tbWrite{
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	border: 1px solid #D7DADB;
}

#tbWrite td{
	box-sizing: border-box;
	padding: 20px;
	border-bottom: 1px solid #2C3250;
}

#tbWrite th{
	width:10%;
	box-sizing: border-box;
	padding: 20px;
	font-style: bold;
	border-bottom: 1px solid #D7DADB;
}

#txtTitle{
	width: 100%;
}

#tacont{
	min-width : 100%;
	min-height: 300px;
}

#writeTitle{
	background-color: #D7DADB;
	color: #777777;
	font-size: 15px;
	font-style: bold;
	
}

#tbJoin{
	width : 50%;
	margin-left: 25%;
	box-sizing: border-box;
}

#tbJoin td{
	border: 1px solid #ebf5fa;
	padding: 20px;
	text-align: left;
}

#tbJoin th{
	border: 1px solid #ebf5fa;
	font-style: bold;
	padding: 15px;
	background-color: #ebf5fa;
}

#btnJoin{
	width: 50%;
	height: 50px;
	background-color: #2C3250;
	color: white;
	border:0;
	font-size: 15px;
	font-style: bold;
}

#tbView{
	width: 80%;
	margin-left: 10%;
	box-sizing: border-box;
}

#tbView td, th{
	border: 1px solid #D7DADB;
	padding: 5px 15px;
}

#btnMyItem{
	width: 70%;
	height: 40px;
	margin: 20px;
	box-sizing: border-box;
	background-color: #2C3250;
	color: white;
	font-size: 20px;
	font-weight: 8;
	border: 0;
}

#btnMyItem:hover{
	width: 70%;
	height: 40px;
	margin: 20px;
	box-sizing: border-box;
	background-color: #6DBCDB;
	color: white;
	font-size: 20px;
	font-weight: 8;
	border: 0;
}

#tbLogin{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	font-style: bold;
	border-top: 3px solid #6DBCDB;
	border-bottom: 3px solid #6DBCDB;
}

#tbLogin td{
	padding: 10px;
}

#btnLogin{
	width: 200px;
	height: 50px;
	background-color: #2C3250;
	color: #FFFFFF;
	border: 0;
}
=======
@charset "UTF-8";

body{
	font-family: 'Nanum Gothic', sans-serif;
}

.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
}

.wrapper td, th{
	border: 1px solid black;
	position: relative;
	width: auto;
	height: auto;
	padding: 5rem;
}

.text-ombra{
	color: rgb(83, 96, 122) !important;
}

.bg-gold{
	background-color: rgb(232, 213, 41) !important;
}

.bg-slagheap{
	background-color: rgb(169, 169, 162) !important;
}

.bg-ombra{
	background-color: rgb(83, 96, 122) !important;
}

.bg-coldbreeze{
	background-color: rgb(229, 230, 213) !important;
}

.bg-snow{
	background-color: rgb(244, 245, 233) !important;
}

.bg-gray{
	background-color: #cccccc !important;
}

p a:link, a:visited, a:hover{
  background-color: transparent;
  text-decoration: none;
}

.row.content {
	margin-top: 0;
	min-height: 450px;
	height: auto;
}

.sidenav {
	text-align: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    overflow: visible;
}

.sidenav .nav-item {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    line-height: 3rem;
}
    
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

#navbar-custom{
	margin-bottom:0; 
	border-radius: 0;
	border: 1px solid rgb(83, 96, 122);
}

.timetable{
	border-collapse : collapse;
	text-align: center;
	height:auto;
	margin: 2rem;
}

.timetable th, td{
	border: 1px solid gray;
	width: 10rem;
	height: 3rem;
	text-align: center;
}

.timetable .time{
	width: 10rem;
}
>>>>>>> branch 'master' of https://github.com/yeon1004/pts
